.name-link,
.name-link:hover,
.name-link:focus,
.name-link:active {
  text-decoration: none;
  font-family: 'Shrikhand', cursive;
  font-size: 24px;
  color: white;
  text-transform: uppercase;

}


.link-bottom,
.link-bottom:hover,
.link-bottom:focus,
.link-bottom:active {
  text-decoration: none;
  color: #54585a;
}
