<section id="team" class="team">
  <div class="container-margin">
    <section class="main--equipo__caja">
      <article class="main--equipo__equipo">
        <h2 class="main--equipo__h2-equipo">Equipo</h2>
        <p class="main--equipo__box">
          Protectoras por naturaleza, creativas de vocación, construimos nuevas
          webs aplicando las últimas tendencias en programación. Las 5
          fantásticas tienen un inmenso deseo de descubrir, inventar y
          construir. Nuestro futuro depende de cómo desarrollemos los còdigos;
          una responsabilidad que recaesobre los hombros de estas 5 fantásticas
          adalabers. DOMando la web desde Julio 2021.
        </p>
      </article>
    </section>
  </div>
</section>
