<section id="team" class="team">
  <div class="container-margin">
    <section class="main--equipo__caja">
      <article>
        <h2 class="main--equipo__h2">Equipo</h2>
        <p class="main--equipo__box">
          Protectoras por naturaleza, creativas de vocación, construimos nuevas
          webs aplicando las últimas tendencias en programación. The girls
          tienen un inmenso deseo de descubrir, inventar y construir. Nuestro
          futuro depende de cómo desarrollemos los códigos; una responsabilidad
          que recae sobre los hombros de estas fantásticas adalabers. DOMando la
          web desde Julio 2021.
        </p>
      </article>
    </section>
  </div>
</section>
