<footer class="footer">
  <div class="container-margin">
    <!-- he cambiado el p del copy por span  -->
    <span class="copy">Las 5 fantásticas &copy; 2021</span>
    <nav class="menu-bottom">
      <ul>
        <!-- He puesto clases a los li como link -->

        <li><a href="#team" class="link-bottom">EQUIPO</a></li>
        <li>
          <a href="#who-we-are" class="link-bottom">QUIENES SOMOS</a>
        </li>
        <li>
          <a href="./contact.html" class="link-bottom" target="_blank"
            >CONTACTO</a
          >
        </li>
      </ul>
    </nav>
    <img src="./assets/images/logo-adalab.png" alt="logo" class="logo" />
  </div>
</footer>
