<footer class="footer container-margin">
  <!-- he cambiado el p del copy por span  -->
  <span class="copy">The Girls &copy; 2021</span>
  <nav class="menu-bottom">
    <ul>
      <!-- He puesto clases a los li como link -->

      <li>
        <a
          href="http://beta.adalab.es/project-promo-n-module-1-team-7/#team"
          class="link-bottom"
          >EQUIPO</a
        >
      </li>
      <li>
        <a
          href="http://beta.adalab.es/project-promo-n-module-1-team-7/#who-we-are"
          class="link-bottom"
          >QUIENES SOMOS</a
        >
      </li>
      <li>
        <a href="./contact.html" class="link-bottom" target="_blank"
          >CONTACTO</a
        >
      </li>
    </ul>
  </nav>
  <img src="./assets/images/logo-adalab.png" alt="logo" class="logo" />
</footer>
