<section class="team">
  <div class="container-margin">
    <section class="main--equipo__caja">
      <article>
        <h2 class="main--equipo__h2">Contacto</h2>
        <p class="main--equipo__box">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque atque
          soluta ex magnam at, laborum error ut obcaecati eaque, optio illo,
          veniam tempora aut laudantium ducimus. Esse voluptatem expedita
          itaque?
        </p>

        <p class="small">
          <small
            >Todos los campos marcados con <span class="span">* </span>son
            obligatorios
          </small>
        </p>
      </article>
    </section>
  </div>
</section>

<form action=""></form>
