<section class="team">
  <div class="container-margin">
    <section class="main--equipo__caja contact">
      <article>
        <h2 class="main--equipo__h2">Contacto</h2>
        <p class="main--equipo__box">
          Si quieres contratar a The girls utiliza el siguiente formulario, respondemos raudas y veloces.
        </p>

        <p class="small">
          <small>Todos los campos marcados con <span class="form__span">* </span>son
            obligatorios
          </small>
        </p>
      </article>
    </section>
  </div>
</section>

<form class="form" action="https://formspree.io/f/xbjqzjpk" method="post">
  <label for="fullname" class="form__label">
    Nombre completo <span class="form__span">* </span>
  </label>
  <input class="form__input" placeholder="Nombre..." type="text" id="fullname" name="fullname" required />
  <label for="email" class="form__label email-label">
    Email <span class="form__span">* </span>
  </label>
  <input class="form__input email-input" placeholder="Email..." type="email" id="email" name="Email" required />
  <label for="telefono" class="form__label tel-label"> Teléfono </label>

  <input class="form__input tel-input" placeholder="Ej.123456789" type="tel" id="telefono" name="Teléfono" />
  <label for="mensaje" class="form__label">
    Mensaje <span class="form__span">* </span>
  </label>

  <textarea class="form__textarea" placeholder="¿Qué necesitas?" id="mensaje" rows="10" cols="10" name="Mensaje"
    required></textarea>
  <input class="form__button" type="submit" value="enviar" />
</form>