<section class="team">
  <div class="container-margin">
    <section class="main--equipo__caja">
      <article>
        <h2 class="main--equipo__h2">Contacto</h2>
        <p class="main--equipo__box">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque atque
          soluta ex magnam at, laborum error ut obcaecati eaque, optio illo,
          veniam tempora aut laudantium ducimus. Esse voluptatem expedita
          itaque?
        </p>

        <p class="small">
          <small
            >Todos los campos marcados con <span class="span">* </span>son
            obligatorios
          </small>
        </p>
      </article>
    </section>
  </div>
</section>

<form action="#" method="post">
  <label>
    Nombre completo <span class="span">* </span>
  <input placeholder="Nombre..." type="text" id="fullname" name="fullname" required>
</label>
<label>
  Email <span class="span">* </span>
<input placeholder="Email..." type="email" id="Email" name="Email" required>
</label>
<label>
  Teléfono 
<input placeholder="Ej.123456789" type="tel" id="Teléfono" name="Teléfono">
</label>
<label>
  Mensaje 
<textarea placeholder="¿Qué necesitas?" id="Mensaje" rows="8"cols="80" name="Mensaje"></textarea>
</label>
<input type="submit" value="enviar">
</form>
