<article class="caracter">
  <div class="rectangulo-pequeño"></div>
  <div class="fortalezas">
    <h3 class="h3">fortalezas</h3>
    <p class="description-caracter">
      The girls que forman parte de este equipo, son
      mujeres versátiles, que les gusta trabajar en equipo y que no
      tienen miedo al cambio pues se han enfrentado a peores villanos.
      Se definen a si mismas como asertivas, creativas, con carácter
      pero empáticas.
    </p>
  </div>
  <div class="debilidades">
    <h3 class="h3">debilidades</h3>
    <p class="description-caracter">
      The girls tienen un talón de Aquiles, la inexperiencia que se solventa programando, programando y programando,
      rompiendo el código y con actitud resolutiva. Cuantos más proyectos tengamos más desarrollaremos nuestras
      capacidades.
    </p>

  </div>
</article>
</section>