<article class="caracter">
  <div class="rectangulo-pequeño"></div>
  <div class="fortalezas">
    <h3 class="h3">fortalezas</h3>
    <p class="description-caracter">
      Las 5 girls que forman parte de este equipo, son
      mujeres versátiles, que les gusta trabajar en equipo y que no
      tienen miedo al cambio pues se han enfrentado a peores villanos.
      Se definen a si mismas como asertivas, creativas, con carácter
      pero empáticas.
    </p>
  </div>
  <div class="debilidades">
    <h3 class="h3">debilidades</h3>
    <p class="description-caracter">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
      hic modi ipsa praesentium amet minima blanditiis quam sequi
      repellat iste, dolorum corporis esse laboriosam obcaecati
      adipisci, non quaerat voluptates dolorem?
    </p>

  </div>
</article>
</section>