<header class="header">
  <div class="name-team head-tablet">
    <h1 class="name">
      <a
        href="http://beta.adalab.es/project-promo-n-module-1-team-7"
        title="Home"
        class="name-link"
        >Las 5 fantásticas</a
      >
    </h1>
    <div class="menu-top head-tablet">
      <nav>
        <ul>
          <li class="list equipo-1">
            <a
              href="http://beta.adalab.es/project-promo-n-module-1-team-7/#team"
              title="Equipo"
              class="link"
              >Equipo</a
            >
          </li>
          <li class="list who-we-are">
            <a
              href="http://beta.adalab.es/project-promo-n-module-1-team-7/#who-we-are"
              title="Quiénes somos"
              class="link"
              >Quiénes somos</a
            >
          </li>
          <li class="list contacto">
            <a
              href="./contact.html"
              target="_blank"
              title="Contacto"
              class="link"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
