.small {
  font-size: 12px;
  color: $paragraph-color;
  font-weight: 400;
  font-family: $brand-font;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.contact {
  height: 292px;
}

.form__span {
  color: #14d9c4;
}

.form {
  width: 320px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 45px);

  &__label {
    padding: 25px 0;
    font-size: 14px;
    font-family: $brand-font;
    color: $paragraph-color;
  }
  &__input {
    font-family: $brand-font;
    font-size: 16px;
    color: $paragraph-color;
    border: solid 1px #b8b8b9;
    ::placeholder {
      font-size: 14px;
      color: #b8b8b9;
    }
    // @media all and (min-width: 1200px) {
    //   grid-column: span 2;
    // }
  }
  &__button {
    background-color: $brand-color;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    border-radius: 4px;
    height: 45px;
    margin: 20px 0 60px;
    @media all and (min-width: 768px) {
      width: 50%;
      margin-left: auto;
    }
  }
  @media all and (min-width: 768px) {
    width: 442px;
  }
  @media all and (min-width: 1200px) {
    width: 601px;
    // grid-template-columns: 1fr 1fr;
    // grid-template-areas: "nombre nombre" "nombre nombre" " email telef" "email telefono" "mensaje mensaje" "mensaje mensaje" "nada boton";
  }
}
#mensaje {
  margin: 0;
  border: solid 1px #b8b8b9;
}
// @media all and (min-width: 1200px) {
//   #telefono {
//     grid-column: 2 / 3;
//     grid-area: telefono;

//     // width: 30%;
//   }
//   .tel {
//     grid-area: telef;
//   }
//   #email {
//     grid-column: 1 / 2;
//     // width: 60%;
//   }
// }
