.small {
  font-size: 12px;
  color: $paragraph-color;
  font-weight: 400;
  font-family: $brand-font;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.contact {
  height: 292px;
}

.form__span {
  color: #14d9c4;
}

.form {
  width: 320px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  @media all and (min-width: 768px) {
    width: 442px;
  }
  @media all and (min-width: 1200px) {
    width: 601px;
    grid-template-columns: 2fr 1fr;
    column-gap: 44px;
  }

  &__label {
    padding: 15px 0 5px;
    font-size: 14px;
    font-family: $brand-font;
    color: $paragraph-color;
    @media all and (min-width: 1200px) {
      grid-column: span 2;
    }
  }
  &__input {
    font-family: $brand-font;
    font-size: 16px;
    color: $paragraph-color;
    padding: 10px;
    border: solid 1px #b8b8b9;
    ::placeholder {
      font-size: 14px;
      color: #b8b8b9;
    }
    @media all and (min-width: 1200px) {
      grid-column: span 2;
    }
  }
  &__button {
    background-color: $brand-color;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    border-radius: 4px;
    height: 45px;
    margin: 20px 0 60px;
    @media all and (min-width: 768px) {
      width: 206px;
      margin-left: auto;
    }
    @media all and (min-width: 1200px) {
      grid-column: span 2;
      width: 278px;
    }
  }
}
.email-label {
  @media all and (min-width: 1200px) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
.email-input {
  @media all and (min-width: 1200px) {
    grid-column: span 1;
    grid-row: 4 / 5;
  }
}
.tel-label {
  @media all and (min-width: 1200px) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}
.tel-input {
  @media all and (min-width: 1200px) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
}
#mensaje {
  margin: 0;
  border: solid 1px #b8b8b9;
  @media all and (min-width: 1200px) {
    grid-column: span 2;
  }
}
