.small {
  font-size: 12px;
  color: $paragraph-color;
  font-weight: 400;
  font-family: $brand-font;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.form__span {
  color: #14d9c4;
}

.form {
  width: 320px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
}

.form__label--input {
  grid-row: span 3;
}
