.main--equipo__caja {
  box-sizing: border-box;
  width: 100%;
  height: 390px;
  padding: 30px 30px;
}
.main--equipo__equipo {
  font-family: $brand-font2;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.88;
  text-align: center;
  color: $brand-color;
}
.main--equipo__h2-equipo {
  text-transform: uppercase;
}
.main--equipo__box {
  margin: 15px 0 0;
  opacity: 0.67;
  font-family: $brand-font;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $paragraph-color;
}
