.caracter {
  box-sizing: border-box;
  background-color: rgba(184, 184, 185, 0.2);
  width: 100%;
  line-height: 1.5;
  text-align: center;
  padding: 0 15px;
  padding-bottom: 30px;
}

.h3 {
  color: $brand-color;
  font-family: $brand-font2;
  font-size: 22px;
  margin-top: 30px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.rectangulo-pequeño {
  background-color: white;
  width: 30px;
  height: 30px;
  margin: auto;
  transform: translate(0, -50%) rotate(45deg);
}
.description-caracter {
  color: #54585a;
  font-size: 16px;
  line-height: 24px;
  font-family: $brand-font;
  text-align: center;
  margin: 0px 10px 15px 10px;
}

@media all and (min-width: 768px) {
  .caracter {
    display: flex;
  }

  .fortalezas,
  .debilidades {
    width: 50%;
    text-align: center;
  }
  .rectangulo-pequeño {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
