.foto {
    width: 100%;
    height: 421px;
    background-image: url(../images/proyecto.jpg);
    background-size: cover;
    position: relative;
    bottom: 30px;
  
    z-index: 1;
  }
  .section-lema {
    height: 425px;
  }
  .lema {
    background-color: white;
    font-family: $brand-font;
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    line-height: 1.2;
    position: relative;
    top: 390px;
    z-index: 2;
    @media all and (min-width:768px) {
      width: 336px;
      height: 80px;
      margin-left: 46px;
      padding: 15px 80px 15px 30px;
      top: 340px;
      color: white;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }