body {
  background-color: white;
}
.main {
  border-bottom: solid 1px #b8b8b9;
}
.container-margin {
  margin: 0 15px;
  @media all and (min-width: 768px) {
    margin: 0 45px;
  }
  @media all and (min-width: 1200px) {
    margin: 0 138px;
  }
}
