/* Colores
Verde oscuro: #099d8d
Verde claro: #14d9c4
Blanco: #ffffff
Negro: #000000
Gris oscuro: #54585a
Gris claro: #b8b8b9
Gris de fondo: #f1f1f1
*/



body {
    background-color: #fff;
}

.name-team {
    background-color: #099D8D;
    width: 320px;
    height: 60px;
    opacity: 0.95;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}